h1 {
    background-color: green;
    color: red;
    text-align: center;
    padding: 16px;
    margin: 24px;
}

a {
    display: inline-block
    font-weight: bold;
    color: white;
    font-size: 24px;
}

img {
    width: 300px;
    height: auto;
}

h3 {
    background-color: green;
    color: red;
    text-align: center;
    font-size: 24px;
}

ul, ol, .description {
    background-color: red;
    color: white;
    padding: 16px 40px;
    margin: 24px;
}

.link {
    padding-bottom: 20px;
}